<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Sqx.Services.Service" Major="1" Minor="12" Build="0">
      <Files>
        <CPackFile Name="Sqx/Services/IService.sqx" CheckSum="/bHgVXafLd7aC6qoDlexyw==" />
        <CPackFile Name="Sqx/Services/Service.sqx" CheckSum="QmhD1pSToff5od+jJaHY2A==" />
      </Files>
      <Dependencies />
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
      <DescriptionExtLine />
    </CPack>
    <CPack Name="Sqx.Markers" Major="1" Minor="0" Build="0">
      <Files>
        <CPackFile Name="Sqx/Markers/init.sqx" CheckSum="nQ2D9MziIpdMPiYzyd75Pg==" />
        <CPackFile Name="Sqx/Markers/Marker.sqx" CheckSum="sDZbqzYKZYUKd4N5u+Pg5A==" />
        <CPackFile Name="Sqx/Markers/MarkerHelper.sqx" CheckSum="GAKwqGUeKPWIBO9mrt7JJQ==" />
        <CPackFile Name="Sqx/Markers/README.txt" CheckSum="cM5/OzWdCVDDA0PNgn+qNQ==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Sqx\Markers\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Josef.Common.MapCtrl" Major="2" Minor="0" Build="0">
      <Files>
        <CPackFile Name="Josef/Common/MapCtrl.sqx" CheckSum="HkE6DccNvTHVXwg1kr/5RA==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Josef\Common\MapCtrl.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
      <DescriptionExtLine />
    </CPack>
    <CPack Name="Engima.TvTCF" Major="1" Minor="8" Build="0">
      <Files>
        <CPackFile Name="Campaigns/MyCampaign/InitCampaign.sqx" CheckSum="OQB4nBa/LYSnrUi38Fopew==" />
        <CPackFile Name="Campaigns/MyCampaign/Missions/Intro.sqx" CheckSum="cWmiythQ/6tUn+v8OPNoUg==" />
        <CPackFile Name="Campaigns/MyCampaign/MyOperation.sqx" CheckSum="wjRi29ZkxABE+85T0elhOw==" />
        <CPackFile Name="Campaigns/Shared/Bootstrapper.sqx" CheckSum="0h4RJDYm0ywmcaYygwMecg==" />
        <CPackFile Name="Campaigns/Shared/Campaign.sqx" CheckSum="8ULhLqV2R6SLrIBGfp5ztA==" />
        <CPackFile Name="Campaigns/Shared/Mission.sqx" CheckSum="JwbvDSmSrdaVNKGMRtAfog==" />
        <CPackFile Name="Campaigns/Shared/Network/_README.sqx" CheckSum="UpcIaDdcYDR0SC2M1A86tw==" />
        <CPackFile Name="Campaigns/Shared/Network/ClientEventReciever.sqx" CheckSum="8kpUoNDWwEvDrYXpAMPi9Q==" />
        <CPackFile Name="Campaigns/Shared/Network/Remote.sqx" CheckSum="PClLJyMvcO87kJlu9iRVbg==" />
        <CPackFile Name="Campaigns/Shared/SoldierDictionary.sqx" CheckSum="jU+QX4lFINW6pohD0ou3sw==" />
        <CPackFile Name="Campaigns/Shared/VehicleDictionary.sqx" CheckSum="gEkdQLsNvIcDHryrt8Dd9g==" />
        <CPackFile Name="Client/Classes/ClientEventHandlers.sqx" CheckSum="03BU34GVwRkeVUAO8ep2tA==" />
        <CPackFile Name="Client/Classes/ClientEventReciever.sqx" CheckSum="f/Yl0IS75FXwu+UhFYBiJQ==" />
        <CPackFile Name="Client/Classes/ClientObjects.sqx" CheckSum="UuI8tbqNd50JeLSc9PJOAg==" />
        <CPackFile Name="Client/Classes/ClientState.sqx" CheckSum="krOOFQL8pd/tD2q1pfgMaA==" />
        <CPackFile Name="Client/Classes/Configs/TutorialConfig.sqx" CheckSum="BeQfu1kqypdlcKCT0tVPTQ==" />
        <CPackFile Name="Client/Classes/Dialogs/DebriefingDialog.sqx" CheckSum="YfCd5dURDFd+xaagVRX0kQ==" />
        <CPackFile Name="Client/Classes/Dialogs/TutorialDialog.sqx" CheckSum="5T3Ackm8QK07Jhy+Bf+nUA==" />
        <CPackFile Name="Client/Classes/Handlers/BriefingHandler.sqx" CheckSum="3ERlgj0xbafWNDNkGvOA/g==" />
        <CPackFile Name="Client/Classes/Handlers/CameraHandler.sqx" CheckSum="bBzHvzEa27pK7mf0HohrbQ==" />
        <CPackFile Name="Client/Classes/Handlers/ClientMessageHandler.sqx" CheckSum="urA9jvwAnJKFqGaSHPlgCw==" />
        <CPackFile Name="Client/Classes/Handlers/ClientMissionActionHandler.sqx" CheckSum="Rxbrm1NIvN2KAaxwgjKPvQ==" />
        <CPackFile Name="Client/Classes/Handlers/ExtractionSymbolHandler.sqx" CheckSum="/gKaIKw/CmbSQtKp9S413g==" />
        <CPackFile Name="Client/Classes/Handlers/Interfaces/IBriefingHandler.sqx" CheckSum="j3W2aaY0Z9EWEeIGMB98BQ==" />
        <CPackFile Name="Client/Classes/Handlers/MapMarkerHandler.sqx" CheckSum="/apQRkBm7xKPkAVD2RDI1w==" />
        <CPackFile Name="Client/Classes/Handlers/TaskHandler.sqx" CheckSum="x/Dqre0Ihhdzb4gXLrIMZg==" />
        <CPackFile Name="Client/Classes/Handlers/TutorialHandler.sqx" CheckSum="BkkuVmJ7QygrWysMx9U/Dg==" />
        <CPackFile Name="Client/Classes/Handlers/TvtcfActionMenuHandler.sqx" CheckSum="GJatEXb1sdedvnkQecSCxg==" />
        <CPackFile Name="Client/Classes/Objects/ActionMapping.sqx" CheckSum="Yf0DNlHqTrAYPkefHzxikg==" />
        <CPackFile Name="Client/Classes/Objects/Tutorial.sqx" CheckSum="nBIV2DoQ6uLukMfKSmAohw==" />
        <CPackFile Name="Client/Classes/Services/BaseInsertionService.sqx" CheckSum="9UkHQvwEr+IjvhkWyYPadg==" />
        <CPackFile Name="Client/Classes/Services/CampaignEndService.sqx" CheckSum="PFrO5R+jTERkbDuALh9gbw==" />
        <CPackFile Name="Client/Classes/Services/JipService.sqx" CheckSum="XUnd/nDWlPxT8bCMVWqWBA==" />
        <CPackFile Name="Client/Classes/Services/MissionBriefingService.sqx" CheckSum="EcL8rXCTiLg2baaonglD9Q==" />
        <CPackFile Name="Client/Classes/Services/MissionPrepareCounter.sqx" CheckSum="D0QIjsoF2nEkQjdBPCB5CA==" />
        <CPackFile Name="Client/Classes/Services/PerformInsertionService.sqx" CheckSum="yKEcY5dg+cZPBF+KCkIwCw==" />
        <CPackFile Name="Client/Classes/Services/TeleportService.sqx" CheckSum="uPwvJ7em5vlXMOMGfG3WNQ==" />
        <CPackFile Name="Client/Classes/Services/WaitingForMissionCounter.sqx" CheckSum="i9PU0ENjdevSEVZ/8uqAlw==" />
        <CPackFile Name="Client/Client.sqx" CheckSum="PgFvjcLmjcKnHNKzCa0+rg==" />
        <CPackFile Name="Client/Enums/DialogResult.sqx" CheckSum="BMAN57NxkDsnZQvbOPfB+A==" />
        <CPackFile Name="Client/Enums/TutorialType.sqx" CheckSum="MX8Hke9GcYE1loR1lJHONw==" />
        <CPackFile Name="Common/Classes/CommonEventHandlers.sqx" CheckSum="Po8T6/BMuWNHzmDmNiiYpQ==" />
        <CPackFile Name="Common/Classes/CommonObjects.sqx" CheckSum="eHyC7F4xIfw1ecdplPpUqQ==" />
        <CPackFile Name="Common/Classes/Configs/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Classes/Configs/BaseMarkersConfig.sqx" CheckSum="4n45KyqMjA5fILmgKLiG2w==" />
        <CPackFile Name="Common/Classes/Configs/Interfaces/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Classes/Configs/Interfaces/IBaseMarkersConfig.sqx" CheckSum="xl8yBBj0v0ZsYGV4qTTppA==" />
        <CPackFile Name="Common/Classes/Handlers/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Classes/Handlers/Functions.sqx" CheckSum="qkkTM4UPyKxbqZQNXwLB5g==" />
        <CPackFile Name="Common/Classes/Handlers/Interfaces/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Classes/Handlers/MissionParametersHandler.sqx" CheckSum="3h4shSCmXc6RnpNRNkcQcQ==" />
        <CPackFile Name="Common/Classes/Objects/BaseMarkerInfo.sqx" CheckSum="aVa9VGDkC3JjxmPqwLPPcA==" />
        <CPackFile Name="Common/Classes/Objects/DictionaryItem.sqx" CheckSum="hn3MfHlbzvdJF4RKakMCxA==" />
        <CPackFile Name="Common/Classes/Objects/Marker.sqx" CheckSum="ED1o9SwEWW1vvvap/+uSbw==" />
        <CPackFile Name="Common/Classes/Objects/MarkerInfo.sqx" CheckSum="FzlBl2l7BsHXDBeGc8ItmA==" />
        <CPackFile Name="Common/Classes/Objects/MissionBriefing.sqx" CheckSum="nVf37oIvt6rmxl1z/QHrAA==" />
        <CPackFile Name="Common/Classes/Objects/MissionMarkersInfo.sqx" CheckSum="z7p4zaZQyLE6j1Q8oIYHpg==" />
        <CPackFile Name="Common/Classes/Objects/MissionObjective.sqx" CheckSum="L/mmIdaSn4e+2g1drfcVuQ==" />
        <CPackFile Name="Common/Classes/Objects/MissionResult.sqx" CheckSum="GOXX6WRzIvb1dy8eVC+vhA==" />
        <CPackFile Name="Common/Classes/Objects/MissionResultInfo.sqx" CheckSum="wGD2eDOGWgBLc57KD6s9FQ==" />
        <CPackFile Name="Common/Classes/Objects/ObjectiveChange.sqx" CheckSum="RaAz4uk7lQS61ouaZz492A==" />
        <CPackFile Name="Common/Classes/Objects/ObjectiveChangeCollection.sqx" CheckSum="T+V6tY/SeUElKVdDBsMdbg==" />
        <CPackFile Name="Common/Classes/Services/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Common.sqx" CheckSum="SKeHZlSGj4TGibyfrQjMgw==" />
        <CPackFile Name="Common/Enums/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Enums/BaseMarker.sqx" CheckSum="sXIomMaOj9Q1amRKaEC3lQ==" />
        <CPackFile Name="Common/Enums/CampaignMode.sqx" CheckSum="7Znn8HMfGxfOnxveeh0eeA==" />
        <CPackFile Name="Common/Enums/ObjectivePrio.sqx" CheckSum="4TLh3G81HrvIPZaV/UaKEQ==" />
        <CPackFile Name="Common/Enums/ObjectiveState.sqx" CheckSum="5X5PNztxSucSfNkrJDkDDw==" />
        <CPackFile Name="Communication/CampaignRemote.sqx" CheckSum="Q3NJ7+XkIRLIuPGj15COsg==" />
        <CPackFile Name="Communication/InitCommunication.sqx" CheckSum="bbb1512AoV1TJCds+tP/wA==" />
        <CPackFile Name="Communication/PublicVariableHandler.sqx" CheckSum="NEPBA0fLtmuSIuDAhGcgIw==" />
        <CPackFile Name="Communication/Remote.sqx" CheckSum="lITnvrdv64DD89AnInCTRA==" />
        <CPackFile Name="Communication/RemoteTargetOptions.sqx" CheckSum="7k+vZvQo+M+5bWBkbdy+kw==" />
        <CPackFile Name="description.ext" CheckSum="K8HPthyg3xiUKiT80qz4lw==" />
        <CPackFile Name="Dialogs/Defines.hpp" CheckSum="LsumD+bBi+WuQdr1jf67rw==" />
        <CPackFile Name="Dialogs/DialogControls.hpp" CheckSum="JDN7FD6GoN5KF4dUS0+rKQ==" />
        <CPackFile Name="Dialogs/TutorialDialog.hpp" CheckSum="t+C99kS1TX1tJDGoYjDvFw==" />
        <CPackFile Name="init.sqx" CheckSum="nlfUWWaQe6+m2fKLN0cpHQ==" />
        <CPackFile Name="MissionParameters.ext" CheckSum="9zasGQ99pQXTuAWeu0xy9Q==" />
        <CPackFile Name="Server/Classes/Handlers/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Classes/Handlers/CampaignStarter.sqx" CheckSum="gv1PXwAuYuen2oQu/vl1Kg==" />
        <CPackFile Name="Server/Classes/Handlers/Interfaces/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Classes/Handlers/MissionUnitsHandler.sqx" CheckSum="+cC0tJWvqnQ51wQ/KDhazA==" />
        <CPackFile Name="Server/Classes/Handlers/ServerActionHandler.sqx" CheckSum="SV0A6OIJi5tK6SOmXsbc0Q==" />
        <CPackFile Name="Server/Classes/Objects/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Classes/Objects/InsertionEventArgs.sqx" CheckSum="plLmBlgJpQeNShitp9uwbA==" />
        <CPackFile Name="Server/Classes/Objects/Interfaces/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Classes/Objects/MissionSettings.sqx" CheckSum="2/F5f9mXnL7wU8zpe05ZhQ==" />
        <CPackFile Name="Server/Classes/Objects/VehicleSideAlias.sqx" CheckSum="MR3qb8cD8bVlFhp+msIe3Q==" />
        <CPackFile Name="Server/Classes/ServerEventHandlers.sqx" CheckSum="Rm3LzmqQt7izW3C9RquLlA==" />
        <CPackFile Name="Server/Classes/ServerEventReciever.sqx" CheckSum="v25kKN4GDv9ao0P1LKLr8A==" />
        <CPackFile Name="Server/Classes/ServerObjects.sqx" CheckSum="DtLlEjbVgr7Lr5fcqHIHGA==" />
        <CPackFile Name="Server/Classes/Services/CampaignEngine.sqx" CheckSum="tCVmIAfAM6Y9qOGUXEFm+w==" />
        <CPackFile Name="Server/Enums/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Enums/MissionSide.sqx" CheckSum="/BIeo8Sk49snbeiDWHwKIg==" />
        <CPackFile Name="Server/Server.sqx" CheckSum="NC7VjxxHutC7LUXsER5i7Q==" />
        <CPackFile Name="TVTCF_LICENSE.txt" CheckSum="cwnGGJFvywi8zkLk1KeoIw==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Sqx.Services.Service</Name>
          <Major>1</Major>
          <Minor>12</Minor>
          <Build>0</Build>
        </CPackDependency>
        <CPackDependency>
          <Name>Sqx.Markers</Name>
          <Major>1</Major>
          <Minor>0</Minor>
          <Build>0</Build>
        </CPackDependency>
        <CPackDependency>
          <Name>Josef.Common.MapCtrl</Name>
          <Major>2</Major>
          <Minor>0</Minor>
          <Build>0</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine>execVM "init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
      <DescriptionExtLine />
    </CPack>
  </CPacks>
</CPackSettings>